body {

  width: 1500px;

  margin: 0 auto;
  font-family: sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.font {
  color: white;
}

.profileImage {
  width: 50px;
  border-radius: 50%;
}

.nav {
  align-items: center;
  background-color: black;
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navtTitle {
  color: white;
}

.navLinks {
  color: gray;
  margin-left: 200px;
  margin-bottom: 5px;
  align-items: baseline;
}

#header .myProfile {
  color: white;
}

ul {
  list-style: none;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.button {
  font-size: large;
  margin-right: 350px;
  width: 100px;
  height: 30px;
  background-color: aqua;
  color:white;
  border: 3px; color: darkslategray;
  box-shadow: 5px 5px 15px 5px black;
}

#container {
  margin-left: 50px;
  width: 490px;
  border: 3px solid gainsboro;
  border-radius: 10px;
  position: relative;
  top: 50px;
  margin-left: 240px;
  height: 325px;
}

.top {
  background-color: aqua;
  height: 100px;
}

#container .profile {
  position: absolute;
  top: 50px;
  left: 25px;
  z-index: 1;
  width: 80px;
  border: 4px solid gainsboro;
  border-radius: 50%;
}

img {
  width: 13px;
}

.text {
  padding-top: 10px;
}

#seattle h3 
.location {
  position: absolute;
  bottom: 1000px;
  left: 65px;
}

.bottom {
  padding-top: 50px;
  padding-left: 25px;
}

.location {
  margin-top: 10px;
  display: inline;
}

.edit {
  padding-top: 20px;
}

.reqContainer {
  margin-left: 793px;
  margin-top: -280px;
  width: 280px;
  border: 3px solid gainsboro;
  height: 230px;
}

.reqBox1 {
  align-items: baseline;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: darkslategray;
}

.num2 {
  margin-top: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: darkslategray;
  background-color: gainsboro;
  border: 2px solid darkslategray;
  border-radius: 50%;
}

.reqBox2 {
  margin-top: 20px;
}

.name {
  font-size: larger;
  margin-right: 50px;
  margin-top: 15px;
}

.yx {
  margin-top: 10px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  margin-right: -5px;
}

.profileBox {
  margin-top: 10px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  width: 270px;
}

.conContainer {
  position: absolute;
  left: 794px;
  top: 400px;
  width: 280px;
  border: 3px solid gainsboro;
  height: 320px;
}

.conBox1 {
  align-items: baseline;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: darkslategray
}

.conBox2 {
  height: px;
  display: flex;
  flex-direction: column;
}

.plus500 {
  margin-top: 10px;
  margin-right: 10px;
  width: 80px;
  height: 40px;
  font-size: 20px;
  color: darkslategray;
  background-color: gainsboro;
  border: 2px solid darkslategray;
  border-radius: 50%;
}

.name2 {
  font-size: larger;
  margin-right: 100px;
  margin-top: 15px;
}

.view {
  padding-left: 10px;
  margin-right: 7px;
  margin-top: 20px;
  border: 3px solid gainsboro;
  padding-top: 6px;
  display: flex;
  justify-content: baseline;
  flex-direction: row;
  font-size: larger;
  height: 35px;
  width: 269px;
}

.eduBox1 {
  display: flex;
  background-color: darkslategray;
  padding: 12px 0px 12px 20px;
}

.eduBox2 {
  margin-top: 10px;
  margin-left: 20px;
}

.education {
  font-size: large;
  margin-left: 50px;
  position: absolute;
  top: 465px;
  left: 230px;
  width: 490px;
  border: 3px solid gainsboro;
  border-radius: 10px;
  margin: 10px;
  height: 275px;
}

.date {
  padding: 10px 0px;
  color: grey
}